@font-face {
	font-family: 'mapcons';
	src:url('../fonts/mapcons.woff?pct8rg') format('woff');
	src:url('../fonts/mapcons.eot?pct8rg');
	src:url('../fonts/mapcons.eot?pct8rg#iefix') format('embedded-opentype'),
		url('../fonts/mapcons.ttf?pct8rg') format('truetype'),
		url('../fonts/mapcons.svg?pct8rg#mapcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="mc-"], [class*=" mc-"] {
	font-family: 'mapcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 48px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="mc-"]:hover, [class*=" mc-"]:hover {
color: green;
}
.mc-saline-negative:before {
	content: "\e800";
}
.mc-saline-positive:before {
	content: "\e801";
}
.mc-saline-content:before {
	content: "\e802";
}
.mc-compass:before {
	content: "\e803";
}
.mc-layer-info:before {
	content: "\e804";
}
.mc-legend:before {
	content: "\e805";
}
.mc-thermometer:before {
	content: "\e806";
}
.mc-polygon:before {
	content: "\e807";
}
.mc-ruler:before {
	content: "\e808";
}
.mc-draw:before {
	content: "\e809";
}
.mc-marker:before {
	content: "\e80a";
}
.mc-layers:before {
	content: "\e80b";
}
.mc-water-temp-celsius:before {
	content: "\e80c";
}
.mc-water-temp-fahrenheit:before {
	content: "\e80d";
}
.mc-bounding-box:before {
	content: "\e80e";
}
.mc-buffer:before {
	content: "\e80f";
}
.mc-draw-line:before {
	content: "\e810";
}
.mc-wind:before {
	content: "\e811";
}

