@font-face {
	font-family: 'Mapcons';
	src:url('../fonts/mapcons.woff') format('woff');
	src:url('../fonts/mapcons.eot');
	src:url('../fonts/mapcons.eot') format('embedded-opentype'),
		url('../fonts/mapcons.ttf') format('truetype'),
		url('../fonts/mapcons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="mc-"], [class*=" mc-"] {
	font-family: 'Mapcons';
	speak: none;
	font-size: 32px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 100%;
	transition:all .15s ease-in;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mc-sweet-leaf:before {
  content: "\e91c";
}
.mc-map-services-filled:before {
  content: "\e915";
}
.mc-map-services:before {
  content: "\e916";
}
.mc-land-cover:before {
  content: "\e918";
}
.mc-lidar-drone:before {
  content: "\e91a";
}
.mc-saline-negative-shaker:before {
  content: "\e900";
}
.mc-saline-positive-shaker:before {
  content: "\e901";
}
.mc-saline-shaker:before {
  content: "\e902";
}
.mc-legend:before {
  content: "\e903";
}
.mc-compass:before {
  content: "\e904";
}
.mc-saline-negative:before {
  content: "\e905";
}
.mc-saline-positive:before {
  content: "\e906";
}
.mc-layers:before {
  content: "\e907";
}
.mc-single-layer:before {
  content: "\e917";
}
.mc-map-marker:before {
  content: "\e908";
}
.mc-buffer:before {
  content: "\e909";
}
.mc-bounding-box:before {
  content: "\e90a";
}
.mc-spatial:before {
  content: "\e90b";
}
.mc-spatial-filled:before {
  content: "\e91b";
}
.mc-ruler:before {
  content: "\e90c";
}
.mc-metrics:before {
  content: "\e919";
}
.mc-wind:before {
  content: "\e90d";
}
.mc-x-y-coordinates:before {
  content: "\e90e";
}
.mc-draw:before {
  content: "\e90f";
}
.mc-polygon:before {
  content: "\e910";
}
.mc-water-temp-celsius:before {
  content: "\e911";
}
.mc-water-temp-fahrenheit:before {
  content: "\e912";
}
.mc-draw-line:before {
  content: "\e913";
}
.mc-thermometer:before {
  content: "\e914";
}
