* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/*.main-content :first-child {
  margin-top: 0; }*/
.main-content img {
  max-width: 100%; }

.main-content code {
  padding: 2px 4px;
  
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }



  /* kf */
  section.row {
      display: flex;
      position: relative;
      flex-wrap:wrap;
      justify-content:center;
      align-items:stretch;
      clear: both;
      padding: 20px 0;
  }
  .box-grid {
    display: block;
    flex-grow: 3;
    position: relative;
    float: left;
    padding: 50px 20px 0 20px;
    text-align: center;
    background-color:white;
    margin: 5px;
    border: 1px solid #ddd;
    width: 14%;
    transition:all .15s ease-in;
  }
  .box-grid:hover {
    box-shadow: 1px 1px 5px 1px #eee;
    border-color: #999;
    transition:all .15s ease-in;
    /*transform:scale3d(1.12,1.12,1.12);*/
    z-index: 9090;

  }

  .box-grid:hover [class^="mc-"], [class*=" mc-"] {
    color: #9F44EA;
    font-size: 40px;
    transition:all .15s ease-in;
  }
   
  .box-grid p {
    padding: 10px;
    /*background: #eee;*/
    margin: 30px -20px 0 -20px;
    font-weight: 700;
    font-size: 14px;
    color: #929292;
    font-size: 14px !important;
  }
  @media screen and (max-width: 480px) {
    .box-grid {
      width: 100%;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 1024px) {
    .box-grid {
      width: 47%;
    }
  }
  .clearfix {
    display: block;
    position: relative;
    clear: both;
  }
/* end kf */



@media screen and (min-width: 64em) {
  .main-content {
    max-width: 1366px;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 1rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #666;display: block; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }
